<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   <!-- NAVBAR STARTS HERE -->
   {{>navbar}}
   <!-- NAVBAR ENDS HERE -->



   <!-- MAIN HEADER STARTS-->
   <div class="containter-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="row">

            <!-- left side div Starts -->
            <div class="col-md-6 col-12 main_header_right about_class">

                <figure>
                    <img src="img/about.png" alt="shadowImg" class="img-fluid" title="Sumit">
                </figure>

            </div>
            <!-- left side div Ends  -->


            <!-- right side div Starts -->
            <div class="col-md-6 col-12 main_header_left">
                <p>Sumit Technology</p>
                 <h1 class="mainLeftH1">I Am A <span class="text_clr">Coder</span> That Can Solve You</h1>
                 <a href="#" target="_blank"><button>My Program</button></a>
            </div>
            <!-- right side div Ends  -->


        </div>

            </div>
        </div>
    </div>
   <!-- MAIN HEADER ENDS  -->


<!-- Footer Starts Here  -->
    {{>footer}}
<!-- Footer Ends Here -->


</body>
</html>