<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   <!-- NAVBAR STARTS HERE -->
   {{>navbar}}
   <!-- NAVBAR ENDS HERE -->


   <!-- MAIN HEADER STARTS-->
   <div class="containter-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="row">

            <!-- left side div Starts -->
            <div class="col-md-12 col-12 main_header_left about_class">

                <figure>
                    <img src="img/error.png" alt="shadowImg" class="img-fluid" title="Sumit" style="width: 38rem;height: 26rem">
                </figure>

           
                <p>Sumit Technology</p>
                 <h1 class="error_h1_class"> {{errorMsg}} </h1>    <!-- app.js line number 3 wala code -->
                 <a href="/" target="_blank"><button>Go Back</button></a>
            </div>
            <!-- right side div Ends  -->


        </div>

            </div>
        </div>
    </div>
   <!-- MAIN HEADER ENDS  -->


<!-- Footer Starts Here  -->
    {{>footer}}
<!-- Footer Ends Here -->


</body>
</html>